
<!doctype html>
<html>
  <head>
  </head>
    <body>
      <h1>Please type in your username and password:</h1>
      <h2>Log In:</h2>
      <form action="/" method="post">
        <fieldset>

          <label name="username">Username</label>
          <input type="text" name="username" placeholder="username">
          <br>
          <br>
          <label for="password">Password</label>
          <input type="text" name="password" placeholder="password">
          <br>
          <br>
          <div class="form__submit-button">
              <input type="submit">
          </div>
          <h4>Not a Member of Gabble? Sign up Now!</h4>
          <button type="button" name="Sign-Up">Sign Up!</button>

        </fieldset>
      </form>
    </body>
</html>
