body {
    font-family: 'Kurale', serif;
background-image: url(fencegoat.jpg);
background-repeat: no-repeat;
background-size: cover;
}

h1 {
  margin-top: 2%;
  font-size: 7em;
  text-align: center;
}

form h2 {
margin-top: 22%;
margin-left: 5%;
font-size: 40px;
}

form fieldset {
  font-size: 22px;
  margin-top: 2%;
  margin-left: 5%;
  width: 35%;
  background-color: #f2e7dc;
}
form button, form input {
  height: 45px;
  border-radius: 5%;
  width: 175px;
  /*color: white;*/
  font-size: 18px;
  font-family: 'Kurale';
}
