<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wrong Password</title>
  </head>
  <body>
    <h1>Uh Oh!</h1>
    <h2>It appears either your password or username are incorrect, please try again:
    </h2>
    <label name="username">Username</label>
    <input type="text" name="username" placeholder="username">
    <br>
    <br>
    <label for="password">Password</label>
    <input type="text" name="password" placeholder="password">
    <br>
    <br>
    <div class="form__submit-button">
        <input type="submit">
    </div>

    <h2>Are you a Member?? Signing up is easy! </h2>
    <button type="button" name="signup">Click here to redirect to our Signup Page!</button>
  </body>
</html>
